<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("head") %>

  <body>
    <h1>Todas as Mensagens</h1>

    <a href="/new" class="linkAsAButton">Nova mensagem</a>

    <ul class="messagesList">
      <% messages.forEach(msg => { %>
        <li class="messageContent">
          <p>
            <b class="messageText"><%= msg.text %></b>
            <br>
            <i class="messageInfo">
              <span>
                <%= msg.user %>
              </span>
              |
              <span class="msgDate">
                <%= msg.added.toISOString() %>
              </span>
            </i>
          </p>
        </li>
      <% }); %>
    </ul>

    <script>
      // Change messages dates from UTC to client's local time
      onload = () => {
        const allMsgsDateElements = document.querySelectorAll(".msgDate");

        allMsgsDateElements.forEach(dateElement => {
          const userLocalDate = 
            new Date(dateElement.textContent.trim()).toLocaleString();

          dateElement.textContent = userLocalDate;
        })
      }
    </script>
  </body>
</html>