<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("head") %>

  <body>
    <h1>Todas as Mensagens</h1>

    <a href="/new" class="linkAsAButton">Nova mensagem</a>

    <ul class="messagesList">
      <% messages.forEach(msg => { %>
        <li class="messageContent">
          <p>
            <b class="messageText"><%= msg.text %></b>
            <br>
            <i class="messageInfo"><%= msg.user %> | <%= msg.added %></i>
          </p>
        </li>
      <% }); %>
    </ul>  
  </body>
</html>