<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("head") %>

  <body>
    <h1>Nova Mensagem</h1>

    <form action="/new" method="post" class="newMessageForm">
      <div class="formRow">
        <label for="text">Digite aqui sua mensagem:</label>
        <textarea name="text" id="text"></textarea>
      </div>

      <div class="formRow">
        <label for="user">Digite aqui o seu nome de usuário:</label>
        <input type="text" name="user" id="user" max="16">
      </div>

      <div class="formRow">
        <button type="submit">Enviar</button>
        <a href="/" class="linkAsAButton">Cancelar</a>
      </div>
    </form>
  </body>
</html>