<form action="/new" method="post">
  <div class="formRow">
    <label for="text">Digite aqui sua mensagem:</label>
    <textarea name="text" id="text"></textarea>
  </div>

  <div class="formRow">
    <label for="user">Digite aqui o seu nome de usuário:</label>
    <input type="text" name="user" id="user" max="16">
  </div>

  <div class="formRow">
    <button type="submit">Enviar</button>
    <a href="/">Cancelar</a>
  </div>
</form>